<p>login works!</p>

<div class="container login-container">
    <div class="card login-card  shadow p-4" style="width: 30rem;">
        <h3 class="text-center mb-4">Leave Portal Login</h3>
        <form>
            <div class="mb-3">
                <label for="email" class="form-label">Email Address</label>
                <input type="email" name="userName" [(ngModel)]="loginObj.userName" name="email" id="email" class="form-control" placeholder="Enter your email">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" name="password" [(ngModel)]="loginObj.password" id="password" class="form-control" placeholder="Enter your password">
            </div>
            <div class="d-grid gap-2">
                <button type="button" (click)="onLogin()" class="btn btn-primary">Login</button>
            </div>
        </form>
    </div>
</div>
